

.fiction-image{
    background-image: url('https://www.bookwritingfounders.com/img/fiction/service1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.fiction-image2{
    background-image: url('https://www.bookwritingfounders.com/img/fiction/web-development-service.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.fiction-image2{
    background-image: url('https://www.bookwritingfounders.com/img/fiction/breathtaking-modern-website-design.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 767px) {
  
    .fiction-image{
        background-image: none;
   background-color:#1C4340;
   z-index: 1;
    }
    .fiction-image2{
        background-image: none;
        background-color: #1C4340; 
    }

  }
  

@media only screen and (max-width: 767px) {

    .fiction-image{
        background-image: none;
   background-color:#1C4340;
   z-index: 1;
    }
    .fiction-image2{
        background-image: none;
        background-color: #1C4340; 
    }

  }

