.fiction-image{
    background-image: url('https://www.bookwritingfounders.com/img/fiction/service1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.fiction-image2{
    background-image: url('https://www.bookwritingfounders.com/img/fiction/web-development-service.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.fiction-image2{
    background-image: url('https://www.bookwritingfounders.com/img/fiction/breathtaking-modern-website-design.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}



