/* "backgroundImage" :"" */
.image_setter{
  height: 30rem;
padding: 20px;
background-image: url('https://www.bookwritingfounders.com/img/home/section2.jpg');
background-repeat: no-repeat;
background-size: cover;
}